<% if can_play? current_user %>
  <%= render 'world' %>
<% else %>
  <% if signed_in? %>
    <h1><%= link_to 'New Char', new_player_path %></h1>
  <% else %>
    <h1>Please, register. :(</h1>
  <% end %>
<% end %>
