<div class="stats_container">
  <br>
  <center>
    <span class="label label-default"><%= current_user.login %></span>
    <span class="label label-default"><%= current_user.player.exp %></span>
    <span class="label label-default"><%= current_user.player.damage %></span>
  </center>
  <br>
</div>